# Candidate-generation and independent-audit tooling only. Exact certificate
# scripts should minimize dependencies and record their own environment
# manifests. Wolfram still requires a separately installed/licensed kernel;
# the client package alone grants no evaluation authority.
cvc5==1.3.4
mpmath==1.3.0
python-flint==0.9.0
sympy==1.14.0
wolframclient==1.4.0
z3-solver==5.0.0.0
